{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row text-right">
        <div class="col-6">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                 <form method="post">
                     {% csrf_token %}
                      {{ form.as_p }}
                     {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                     <button type="submit" class="btn btn-lg btn-block btn-outline-secondary">Создать рассылку</button>
                 </form>
                </form>
            </div>
        </div>
    </div>
</div>


{%endblock%}