{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row text-right">
        <div class="col-6">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                 <form method="post">
                     {% csrf_token %}
                     <input type="text" name="heading" class="form-control" id="heading" placeholder="heading" required>
                     <input type="text" name="content" class="form-control" id="content" placeholder="content" required>
                     <input type="time" name="datetime" class="form-control" id="datetime" placeholder="datetime" required>
                     <button type="submit" class="btn btn-lg btn-block btn-outline-secondary">Создать рассылку</button>
                 </form>
                </form>
            </div>
        </div>
    </div>
</div>


{%endblock%}